<!DOCTYPE html>
<html lang="pl">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <div class="auth-wrapper">
            <h1>Verify your account</h1>
            <p>Enter the code send to the provided address. The code is valid for 30 minutes.</p>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                       	Verification code
			<input type="text" name="otp" required>
                </div>
                <button type="submit" class="btn-primary">Login</button>
                {% if request.args.get("msg") == "wrongotp" %}
		    <p class="auth-fail-message">The entered code is incorrect or it has expired.</p>
		{% endif %}
            </form>
        </div>
    </div>

</body>

</html>
