<!DOCTYPE html>
<html lang="{{ session.get('lang') if session.get('lang') is not none else 'en' }}">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Account verification - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <div class="auth-wrapper" role="main">
            <h1>{{ lang("Verify your account") }}</h1>
            <p>{{ lang("Enter the code sent to the provided address. The code is valid for 30 minutes") }}.</p>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        {{ lang("Verification code") }}
                        <input type="text" name="otp" pattern="[0-9]*" inputmode="numeric" required>
                </div>
                <button type="submit" class="btn-primary">{{ lang("Submit") }}</button>
                {% if request.args.get("msg") == "wrongotp" %}
                <p class="auth-fail-message">{{ lang("The entered code is incorrect or it has expired") }}.</p>
                {% endif %}
            </form>
            <div class="auth-footer">
                <p>{{ lang("Message didn't arrive") }}?
                    <a href="{{ url_for('verify_account') }}">{{ lang("Send another") }}</a>
                </p>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>
