<!DOCTYPE html>
<html lang="pl">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Account verification - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <div class="auth-wrapper">
            <h1>{{ lang("Verify your account") }}</h1>
            <p>{{ lang("To access any kind of lost and found functionality, you must verify your account") }}.</p>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        {{ lang("Verification email") }} {% include "required.html" %}
                        <input type="email" name="verif_mail" value="{{ prefill }}" required>
                        <br><br>
                        {{ lang(
                        "This address is used only to verify your account and must be part of the <code>v-lo.krakow.pl</code> domain"
                        )|safe }}.
                    </label>
                </div>
                <button type="submit" class="btn-primary">{{ lang("Verify") }}</button>
                {% if request.args.get("msg") == "wrongdomain" %}
                <p class="auth-fail-message">{{ lang("The entered email address doesn't belong to the appropriate domain") }}.
                </p>
                {% endif %}
            </form>
        </div>
    </div>
    {% include "footer.html" %}

</body>

</html>
