<!DOCTYPE html>
<html lang="{{ session.get('lang') if session.get('lang') is not none else 'en' }}">

<head>
    {% include "common_head.html" %}
    <title>My account - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container" role="main">
        <h1>{{ lang("Delete account") }}</h1>
        <div class="content">
            <h2>{{ lang("Are you sure you want to delete your account") }}?</h2>
            <p>{{ lang("This action is permanent and deletes all reports you have created") }}.</p>
            <form method="post">
                <div class="form-group">
                    <label>
                        {{ lang("Enter your password to delete your account") }} {% include "required.html" %}<br>
                        <input type="password" placeholder="{{ lang('Password') }}" name="password" required>
                    </label>
                    {% if request.args.get("msg") == "wrongpwd" %}
                    <p class="auth-fail-message">{{ lang("Wrong password") }}</p>
                    {% endif %}
                </div>
                <br>
                <a class="btn-primary" href="{{ url_for('account') }}">{{ lang("Back") }}</a><button type="submit"
                    class="btn-primary dangerous confirm-required"
                    data-message="{{ lang('Are you sure you want to delete your account') }}?">{{
                    lang("Delete account" )}}</button>
            </form>
        </div>
    </div>
    {% include "footer.html" %}

</body>

</html>
