<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <title>My account - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>{{ lang("My account") }}</h1>
        <div class="content">
            <h2>{{ current_user.display_name }}</h2>
            <p><strong>{{ lang("Manage your account here.") }}</strong></p>
            <p><strong>{{ lang("E-mail address") }}:</strong> {{ current_user.email }}</p>
            <p><strong>{{ lang("Grade") }}:</strong> {{ grade_name }}</p>
            <p>
                {% if current_user.account_verified %}
                <span style="color: green;">&#10004; {{ lang("Account Verified") }}</span>
                {% else %}
                <span style="color: red;">&#10008; {{ lang("Account NOT Verified") }}</span>
                {% endif %}
            </p>

            <h3>{{ lang("Update personal data") }}</h3>
            <form method="post">
                <div class="form-group">
                    <label>
                        {{ lang("Change name") }}:<br>
                        <input type="text" name="display_name" value="{{ current_user.display_name }}" required>
                    </label>
                </div>
                <br><br>
                <div class="form-group">
                    <label>
                        {{ lang("Change grade") }}:<br>
                        <select name="grade">
                            <option value="" {% if not grade_id %}selected{% endif %}>-- Select --</option>
                            {% for grade in grade_list %}
                            <option {% if grade['id'] == grade_id %}selected{% endif %} value="{{ grade['id'] }}">{{ grade['name'] }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <br><br>
                <div class="form-group">
                    <label>
                        {{ lang("Change password") }}:<br>
                        <input type="password" placeholder="{{ lang('New password') }}" name="new_password">
                        <input type="password" placeholder="{{ lang('Repeat new password') }}"
                            name="new_password-repeat">
                        <input type="password" placeholder="{{ lang('Old password') }}" name="password">
                    </label>
                    {% if request.args.get("msg") == "pwdnomatch" %}
                    <p class="auth-fail-message">{{ lang("Passwords don't match") }}</p>
                    {% elif request.args.get("msg") == "wrongpwd" %}
                    <p class="auth-fail-message">{{ lang("Wrong old password") }}</p>
                    {% endif %}
                </div>
                <br><br>
                <div class="form-group">
                    <label>
                        {{ lang("Change e-mail (this will become your new login)") }}:<br>
                        <input type="email" placeholder="New email" name="new_email">
                        <input type="email" placeholder="Repeat new email" name="new_email-repeat">
                    </label>
                    {% if request.args.get("email_msg") == "emailnomatch" %}
                    <p class="auth-fail-message">{{ lang("Emails don't match") }}</p>
                    {% endif %}
                </div>
                <br><br>
                <button type="submit" class="btn-primary">{{ lang("Change") }}</button>
            </form>
            <br><br>
	    <a class="dangerous btn-primary" href="/account/delete">{{ lang("Delete account") }}</a>
        </div>
    </div>

</body>

</html>
