import os

sender_address = os.getenv("SENDER_ADDRESS", "sender@example.com")
sender_password = os.getenv("SENDER_PASSWORD", "password")
sender_replyto_address = os.getenv("REPLYTO_ADDRESS", "another@example.com")
secret_key = "secret key"
email_domain = "example.com"


default = "postgresql://user:password@host/LostAndFound"