.color-picker {
    display: flex;
    gap: 12px;
}

.color-option {
    position: relative;
}

.color-option input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
}

.color-option input:checked+.color-circle {
    border: 3px solid black;
    transform: scale(1.1);
}

.color-picker-parent:focus-within > legend {
    text-decoration: underline;
}
