<!DOCTYPE html>
<html lang="en">

    <head>
	{% include "common_head.html" %}
	<title>My account - Lost&Found</title>
    </head>

    <body>
	{% include "navbar.html" %}

	<div class="container">
	    <h1>My account</h1>
	    <div class="content">
		<h2>{{ current_user.display_name }}</h2>
		<p>Manage your account here.</p>
		<p>E-mail address: {{ current_user.email }}</p>
		<p>Grade: {{ grade_name }}</p>
		<p>Account verified: {% if current_user.account_verified %}true{% else %}false{% endif %}</p>

		<h3>Update personal data</h3>
		<form method="post">
		    <div class="form-group">
		        <label>
			    Change name:<br>
			    <input type="text" name="display_name" value="{{ current_user.display_name }}" required>
			</label>
		    </div>
		    <br><br>
		    <div class="form-group">
			<label>
			    Change grade:<br>
			    <select name="grade">
				<option value="">-- Select --</option>
				{% for grade in grade_list %}
				{% if grade['id'] == grade_id %}
				<option selected="selected" value="{{ grade['id'] }}">{{ grade['name'] }}</option>
				{% else %}
				<option value="{{ grade['id'] }}">{{ grade['name'] }}</option>
				{% endif %}
				{% endfor %}
			    </select>
			</label>
		    </div>
		    <br><br>
		    <div class="form-group">
		        <label>
			    Change password:<br>
			    <input type="password" placeholder="New password" name="new_password">
			    <input type="password" placeholder="Repeat new password" name="new_password-repeat">
			    <input type="password" placeholder="Old password" name="password">
			</label>
		    {% if request.args.get("msg") == "pwdnomatch" %}
		        <p class="auth-fail-message">Passwords don't match</p>
		    {% elif request.args.get("msg") == "wrongpwd" %}
		        <p class="auth-fail-message">Wrong old password</p>
		    {% endif %}
		    </div>
		    <br><br>
		    <div class="form-group">
		        <label>
			    Change email: (this will be your new login)<br>
			    <input type="email" placeholder="New email" name="new_email">
			    <input type="email" placeholder="Repeat new email" name="new_email-repeat">
			</label>
		    {% if request.args.get("email_msg") == "emailnomatch" %}
		    	<p class="auth-fail-message">Emails don't match</p>
		    {% endif %}
		    </div>
		    <br><br>
		    <button type="submit" class="btn-primary">Change</button>
		</form>
	    </div>
	</div>

    </body>

</html>
