<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Create account</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="auth-wrapper">
            <h1>Create Account</h1>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        Email {% include "required.html" %}
                        <input type="email" name="email" value="{{ request.args.get('email') or '' }}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password {% include "required.html" %}
                        <input type="password" name="password" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Repeat Password {% include "required.html" %}
                        <input type="password" name="password-repeat" required>
                    </label>
                </div>
		<div class="form-group">
			<label>
				Grade (can be changed later)<br>
				<select name="grade">
				<option value="">-- Select --</option>
				{% for elm in grade_list %}
				{% if elm['id'] | string == request.args.get('grade') | string %}
				<option selected="selected" value="{{ elm['id'] }}">{{ elm['name'] }}</option>
				{% else %}
				<option value="{{ elm['id'] }}">{{ elm['name'] }}</option>
				{% endif %}
				{% endfor %}
				</select>
			</label>
		</div>
                <button type="submit" class="btn-primary">Create Account</button>
		{% if request.args.get("msg") == "pwdnomatch" %}
		    <p class="auth-fail-message">Passwords don't match</p>
	        {% endif %}
            </form>
            <div class="auth-footer">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</body>

</html>
