<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <title>Create account</title>
</head>

<body>
    <div class="container">
        <h1>Create account</h1>
        <form class="content" id="create-post" method="post">
            <label id="title">
                Username {% include "required.html" %}
                <input type="text" name="username" value="{{ request.args.get('username') or '' }}" required>
            </label>
            <label id="title">
                Password {% include "required.html" %}
                <input type="password" name="password" required>
            </label>
            <label id="title">
                Repeat Password {% include "required.html" %}
                <input type="password" name="password-repeat" required>
            </label>

            <button type="submit">Login</button>
        </form>
	<a href="/login">Login</a>
    </div>

</body>

</html>
