<!DOCTYPE html>
<html lang="pl">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>Lost&amp;Found</h1>
        <div class="content">
            <h2>Welcome to Lost&Found</h2>
            <p>Wybierz z menu aby zobaczyć przedmioty zgubione lub znalezione.</p>

            <!--<div class="auth-buttons">
                <a href="/login" class="btn-primary">Login</a>
                <a href="/create_account" class="btn-secondary">Create Account</a>
	    </div>-->
        </div>
    </div>

</body>

</html>
