<!DOCTYPE html>
<html lang="pl">

<head>
    {% include "common_head.html" %}
    <title>Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>Lost&amp;Found</h1>
        <div class="content">
            <h2>this will be a nicer index.html</h2>
            <p>Wybierz z menu aby zobaczyć przedmioty zgubione lub znalezione.</p>

            {% for user in users %}
            <div class="content">
                Email: {{ user.email }} <br>
                Password: {{ user.password_hash }} <br>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>