<!DOCTYPE html>
<html lang="pl">

<head>
    {% include "common_head.html" %}
    <title>Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>Lost&amp;Found</h1>
        <div class="content">
            <h2>Welcome to Lost&Found</h2>
            <p>Wybierz z menu aby zobaczyć przedmioty zgubione lub znalezione.</p>
            <hr>
            <p><strong>{{ total_reports }}</strong> active reports, <strong>{{ lost_reports }}</strong> lost, <strong>{{ found_reports }}</strong> found</p>
            <hr>
            <p>Looking for updates on something you have lost?<br>
            <a class="btn-primary" style="display: inline-block;" href="{{ url_for('matches', filter='mine') }}">Matches with your reports</a>
            <a class="btn-primary" style="display: inline-block;" href="{{ url_for('all', item_owner='me') }}">Reports with you as suspected owner</a></p>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>
