<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>Lost&amp;Found</h1>
        <div class="auth-wrapper">
            <h1>Login</h1>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        Email {% include "required.html" %}
			<input type="email" name="email" value="{{ request.args.get('email') or '' }}" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password {% include "required.html" %}
                        <input type="password" name="password" required>
                    </label>
                </div>
                <button type="submit" class="btn-primary">Login</button>
                {% if request.args.get("msg") == "wrongpwd" %}
		    <p class="auth-fail-message">Wrong password</p>
		{% endif %}
            </form>
            <div class="auth-footer">
		    <p>Don't have an account? <a href="{{ url_for('create_account', email=email, next=request.args.get('next')) }}">Create one</a></p>
            </div>
        </div>
    </div>
</body>

</html>
