<!DOCTYPE html>
<html lang="{{ session.get('lang') if session.get('lang') is not none else 'en' }}">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='matches.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='report_list.css') }}">
    <title>Matches - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>{{ lang("Report matches") }}</h1>

        <form class="report-filter" method="get">
            <div class="filter-chip-picker">
                <span class="filter-label" title="{{ lang('Choose which matches are displayed in the table') }}">
                    {{ lang("Show matches") }}:
                </span>

                <label class="filter-chip-option filter-chip-helper">
                    <input type="radio" name="filter" value="" {% if not selected_filter %}checked{% endif %}>
                    <span class="filter-chip-name">{{ lang("all.alt") }}</span>
                </label>

                <label class="filter-chip-option filter-chip-helper">
                    <input type="radio" name="filter" value="mine" {% if selected_filter=='mine' %}checked{% endif %}>
                    <span class="filter-chip-name">{{ lang("Related to my reports") }}</span>
                </label>
            </div>

            <div class="filter-chip-picker">
                <span class="filter-label" title="{{ lang('Choose the column by which the match list is sorted') }}">
                    {{ lang("Sort by") }}:
                </span>

                <label class="filter-chip-option filter-chip-helper">
                    <input type="radio" name="order" value="" {% if not selected_order %}checked{% endif %}>
                    <span class="filter-chip-name">{{ lang("Score") }}</span>
                </label>

                <label class="filter-chip-option filter-chip-helper">
                    <input type="radio" name="order" value="created" {% if selected_order=="created" %}checked{% endif
                        %}>
                    <span class="filter-chip-name">{{ lang("Creation date") }}</span>
                </label>
            </div>
            <button type="submit">{{ lang("Apply") }}</button>
        </form>

        <div class="content" role="main">
            <div class="matches-instructions">
                <p>
                    <span style="font-weight: 700;">{{ lang("Tip") }}:</span>
                    {{ lang("Reports shown in bold are authored by you and are easier to spot in the match list.") }}
                </p>
            </div>
            <div style="overflow: scroll;">
                <table>
                    <tr>
                        <th>{{ lang("Lost item") }}</th>
                        <th>{{ lang("Found item") }}</th>
                        <th>{{ lang("Score") }}</th>
                        <th>{{ lang("Match appeared on") }}</th>
                    </tr>
                    {% for mat in all_matches %}
                    <tr>
                        <td {% if get_report(mat[0]).author==current_user.id %}class="bold-td" {% endif %}>
                            <div class="table-button" style="box-sizing: border-box;"><a
                                    href="{{ url_for('report_details', report_id=mat[0]) }}">{{ get_report(mat[0]).title
                                    }}</a></div>
                        </td>
                        <td {% if get_report(mat[1]).author==current_user.id %}class="bold-td" {% endif %}>
                            <div class="table-button" style="box-sizing: border-box;"><a
                                    href="{{ url_for('report_details', report_id=mat[1]) }}">{{ get_report(mat[1]).title
                                    }}</a></div>
                        </td>
                        <td>{{ mat[2] }}</td>
                        <td>{{ mat[3] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>
