<nav>
    <ul>
        {% if current_user.is_authenticated and current_user.account_verified %}
        <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">
                Home
            </a></li>
        <li><a href="{{ url_for('all') }}" class="{% if request.endpoint == 'all' %}active{% endif %}">
                All
            </a></li>
        <li><a href="{{ url_for('lost') }}" class="{% if request.endpoint == 'lost' %}active{% endif %}">
                Lost
            </a></li>
        <li><a href="{{ url_for('found') }}" class="{% if request.endpoint == 'found' %}active{% endif %}">
                Found
            </a></li>
        <li><a href="{{ url_for('your_reports') }}"
                class="{% if request.endpoint == 'your_reports' %}active{% endif %}">
                Your Reports
            </a></li>
        <li><a href="{{ url_for('new') }}" class="{% if request.endpoint == 'new' %}active{% endif %}">
                +
	    </a></li>
        {% endif %}
	{% if current_user.is_authenticated and not current_user.account_verified %}
	<li><a href="{{ url_for('verify_account') }}"
	       class="{% if request.endpoint == 'verify_account' %}active{% endif %}">
			Verify account
		</a></li>
	{% endif %}

        {% if current_user.is_authenticated %}
        <li class="nav-right">
            <a href="{{ url_for('account') }}" class="{% if request.endpoint == 'account' %}active{% endif %}">{{
                current_user.display_name }}</a>
            <a href="{{ url_for('logout') }}" class="{% if request.endpoint == 'logout' %}active{% endif %}">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>
