<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='color_picker.css')}}">
    <title>{{ lang("New Report") }}</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>{{ lang("New Report") }}</h1>
        <form class="content" id="create-post" method="post">
            <label id="title">
                {{ lang("Report title") }} {% include "required.html" %}
                <input type="text" name="title" required>
            </label>

            <fieldset class="report-type">
                <legend>{{ lang("Report type") }} {% include "required.html" %}</legend>
                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="report-type" value="lost" required>
                        <span>{{ lang("Lost") }}</span>
                    </label>
                </div>
                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="report-type" value="found" required>
                        <span>{{ lang("Found") }}</span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="item-type">
                <legend>{{ lang("Item type") }} {% include "required.html" %}</legend>
                {% for category in category_list %}
                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="item-type" value="{{ category.id }}" required>
                        <span>{{ lang(category.name) }}</span>
                    </label>
                </div>
                {% endfor %}
            </fieldset>

            <fieldset>
                <legend>{{ lang("Item colour") }} {% include "required.html" %}</legend>
                <div class="color-picker">
                    {% for color in colour_list %}
                    <label class="color-option">
                        <input type="radio" name="item-color" value="{{ color.id }}" required>
                        <span class="color-circle" style="background: {{ color.name }};"></span>
                    </label>
                    {% endfor %}
                </div>
            </fieldset>

            <label>
                {{ lang("Last seen") }}
                <input type="datetime-local" name="last-seen" required>
            </label>

            <label>
                {{ lang("Found at") }}
                <select name="locations">
                    {% for loc in location_list %}
                    <option value="{{ loc['id'] }}">{{ loc['name'] }} ({{ lang("level") }} {{ loc['building_level'] }})
                    </option>
                    {% endfor %}
                </select>
            </label>

            <label>
                {{ lang("Additional content") }}
                <textarea class="form-textarea" name="report-content" rows="6" cols="40"></textarea>
            </label>

            <button type="submit">{{ lang("Create") }}</button>
        </form>
    </div>

</body>

</html>
