<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_list.css')}}">
    <title>New report - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>{{ lang("New report") }}</h1>

        <form class="content" id="create-post" method="post">

            <label id="title">
                {{ lang("Report title") }} {% include "required.html" %}
                <input type="text" name="title" required>
            </label>

            <fieldset class="report-type">
                <legend>{{ lang("Report type") }} {% include "required.html" %}</legend>

                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="report-type" value="lost" required>
                        <span>{{ lang("Lost") }}</span>
                    </label>
                </div>

                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="report-type" value="found" required>
                        <span>{{ lang("Found") }}</span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="item-type">
                <legend>{{ lang("Item type") }} {% include "required.html" %}</legend>

                {% for category in category_list %}
                <div class="radio-row">
                    <label class="radio-option">
                        <input type="radio" name="item-type" value="{{ category.id }}" required>
                        <span>{{ category.localized_name() }}</span>
                    </label>
                </div>
                {% endfor %}
            </fieldset>

            <fieldset class="color-picker-parent">
                <legend>{{ lang("Item colour") }} {% include "required.html" %}</legend>

                <div class="filter-chip-picker">
                    {% for color in colour_list %}
                    <label class="filter-chip-option">
                        <input type="radio" name="item-color" value="{{ color.id }}" required>
                        <span class="filter-color-circle" style="background-color: {{ color.name }};"
                            title="{{ color.localized_name() }}"></span>
                        <span class="filter-chip-name">{{ color.localized_name() }}</span>
                    </label>
                    {% endfor %}
                    <label class="filter-chip-option">
                        <input type="radio" name="item-color" value="" required>
                        <span class="filter-color-circle filter-color-circle-all"></span>
                        <span class="filter-chip-name">{{ lang("colour.unknown") }}</span>
                    </label>
                </div>
            </fieldset>

            <!-- Dynamic datetime label -->
            <label id="datetime-label">
                {{ lang("Last seen on") }}
                <input type="datetime-local" name="last-seen">
            </label>

            <!-- Dynamic location label -->
            <label id="location-label">
                {{ lang("Lost in") }}
                <select name="locations">
                    <option value="" selected>-- Select --</option>
                    {% for loc in location_list %}
                    <option value="{{ loc.id }}">
                        {{ loc.location_string() }}
                    </option>
                    {% endfor %}
                </select>
            </label>

            <label class="found-only">
                {{ lang("Suspected owner") }}
                <select name="item_owner">
                    <option value="" selected>-- Select --</option>
                    {% for user in user_list %}
                    <option value="{{ user.id }}">{{ user.public_name() }}</option>
                    {% endfor %}
                </select>
            </label>

            <label class="found-only">
                {{ lang("Retrieve found item at") }}
                <select name="pickup_location">
                    <option value="" selected>-- Select --</option>
                    {% for loc in location_list %}
                    <option value="{{ loc['id'] }}">
                        {{ loc.location_string() }}
                    </option>
                    {% endfor %}
                </select>
            </label>

            <label>
                {{ lang("Description") }}
                <textarea class="form-textarea" name="report-content" rows="6" cols="40"></textarea>
            </label>

            <button type="submit">{{ lang("Create") }}</button>

        </form>
    </div>

    {% include "footer.html" %}

    <script>
        function changeVisibility(state) {
            var foundOnly = document.getElementsByClassName("found-only");
            for (let i = 0; i < foundOnly.length; i++) {
                if (state) {
                    foundOnly[i].style.display = "block";
                } else {
                    foundOnly[i].style.display = "none";
                }
            }
        }

        const reportTypeInputs = document.querySelectorAll('input[name="report-type"]');

        const datetimeLabel = document.getElementById('datetime-label');
        const locationLabel = document.getElementById('location-label');

        function updateLabels() {
            const selected = document.querySelector('input[name="report-type"]:checked');

            if (!selected) { changeVisibility(false); return; };

            if (selected.value === 'lost' || selected.value === "") {
                datetimeLabel.childNodes[0].textContent = '{{ lang("Last seen on") }} ';
                locationLabel.childNodes[0].textContent = '{{ lang("Lost in") }} ';

                // Hide additional fields
                changeVisibility(false);
            }

            if (selected.value === 'found') {
                datetimeLabel.childNodes[0].textContent = '{{ lang("Found on") }} ';
                locationLabel.childNodes[0].textContent = '{{ lang("Found in") }} ';

                // Show additional fields
                changeVisibility(true);
            }
        }

        reportTypeInputs.forEach(input => {
            input.addEventListener('change', updateLabels);
        });

        updateLabels();
    </script>

</body>

</html>
