<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_list.css') }}">
    <title>
        {% if session.get('lang') == 'pl' %}
        Zgłoszenia użytkownika {{ authors[current_user.id].removesuffix("@v-lo.krakow.pl") }} {# TODO fix to use
        username#}
        {% else %}
        {{ authors[current_user.id].removesuffix("@v-lo.krakow.pl") }}'s Reports {# TODO fix to use username#}
        {% endif %} - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>
            {% if session.get('lang') == 'pl' %}
            Zgłoszenia użytkownika {{ authors[current_user.id].removesuffix("@v-lo.krakow.pl") }} {# TODO fix to use
            username#}
            {% else %}
            {{ authors[current_user.id].removesuffix("@v-lo.krakow.pl") }}'s Reports {# TODO fix to use username#}
            {% endif %}
        </h1>
        {% include "report_render.html" %}
    </div>

</body>

</html>