<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_list.css') }}">
    <title>
        {{ current_user.display_name }}'s Reports - Lost&Found
    </title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        <h1>
            {% if session.get('lang') == 'pl' %}
            Zgłoszenia użytkownika {{ current_user.display_name }}
            {% else %}
            {{ current_user.display_name }}'s Reports
            {% endif %}
        </h1>
        {% include "report_render.html" %}
    </div>

    {% include "footer.html" %}
</body>

</html>