<!DOCTYPE html>
<html lang="{{ session.get('lang') if session.get('lang') is not none else 'en' }}">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_list.css') }}">
    <title>All items - Lost&Found</title>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container" role="main">
        <h1>{{ lang("All items") }}</h1>
        {% include "report_render.html" %}
    </div>

    {% include "footer.html" %}
</body>

</html>
