<nav>
    <ul>
        {% if current_user.is_authenticated and current_user.account_verified %}
        <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">
                {{ lang("Home") }}
            </a></li>
        <li><a href="{{ url_for('reports.all') }}" class="{% if request.endpoint == 'reports.all' %}active{% endif %}">
                {{ lang("All") }}
            </a></li>
        <li><a href="{{ url_for('reports.lost') }}" class="{% if request.endpoint == 'reports.lost' %}active{% endif %}">
                {{ lang("Lost") }}
            </a></li>
        <li><a href="{{ url_for('reports.found') }}" class="{% if request.endpoint == 'reports.found' %}active{% endif %}">
                {{ lang("Found") }}
            </a></li>
        <li><a href="{{ url_for('reports.your_reports') }}"
            class="{% if request.endpoint == 'reports.your_reports' %}active{% endif %}">
                {{ lang("Your reports") }}
            </a></li>
            <li><a href="{{ url_for('reports.matches') }}" class="{% if request.endpoint == 'reports.matches' %}active{% endif %}">
                {{ lang("Matches") }}
            </a></li>
        <li><a href="{{ url_for('reports.new') }}" class="{% if request.endpoint == 'reports.new' %}active{% endif %}">
                +
            </a></li>
        {% endif %}

        {% if current_user.is_authenticated and not current_user.account_verified %}
            <li><a href="{{ url_for('auth.verify_account') }}"
                class="{% if request.endpoint == 'auth.verify_account' %}active{% endif %}">
                {{ lang("Verify account") }}
            </a></li>
        {% endif %}


        <li class="nav-right">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('account.account') }}" class="{% if request.endpoint == 'account.account' %}active{% endif %}">{{
                current_user.display_name }}</a>
            <a href="{{ url_for('auth.logout') }}" class="{% if request.endpoint == 'auth.logout' %}active{% endif %}"> {{
                lang("Logout") }}</a>
            {% endif %}
        </li>

    </ul>
</nav>
