<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Reset password - Lost&Found</title>
</head>

<body>
    <div class="container">
        <h1><a class="heading-a" href="{{ url_for('index') }}">Lost&amp;Found</a></h1>
        <div class="auth-wrapper">
            <h1>{{ lang("Reset password") }}</h1>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        {{ lang("Email") }} {% include "required.html" %}
                        <input type="email" name="email" required>
                    </label>
                </div>
                <button type="submit" class="btn-primary">{{ lang("Reset password") }}</button>
                {% if request.args.get("msg") == "sent" %}
                <p>{{ lang(
                    "If an account with the provided email address exists, you have been sent a password reset link"
                    ) }}.</p>
                {% elif request.args.get("msg") == "wrongotp" %}
                <p class="auth-fail-message">{{ lang("The entered code is incorrect or it has expired") }}.</p>
                {% endif %}
            </form>
            <div class="auth-footer">
                <p><a href="{{ url_for('login') }}">{{ lang("Return to login") }}</a></p>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>
