<!DOCTYPE html>
<html lang="en">

<head>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <title>Reset password</title>
</head>

<body>
    <div class="container">
        <h1><a class="heading-a" href="{{ url_for('index') }}">Lost&amp;Found</a></h1>
        <div class="auth-wrapper">
            <h1>Reset password</h1>
            <form class="auth-form" method="post">
                <div class="form-group">
                    <label>
                        Email {% include "required.html" %}
			<input type="email" name="email" required>
                    </label>
                </div>
                <button type="submit" class="btn-primary">Reset password</button>
                {% if request.args.get("msg") == "sent" %}
		    <p>If an account with the provided e-mail address exists, you have been sent a password reset link.</p>
                {% elif request.args.get("msg") == "wrongotp" %}
		    <p class="auth-fail-message">The entered code is incorrect or it has expired.</p>
		{% endif %}
            </form>
            <div class="auth-footer">
		    <p><a href="{{ url_for('login') }}">Return to login</a></p>
            </div>
        </div>
    </div>
</body>

</html>
